<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mapa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <h1 class="display-1">La Mejor Ruta</h1>
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <h2 class="display-4">Coordenadas</h2>
        <h3>Distancia entre puntos (km):</h3>
        <div class="slidecontainer">
          MAX: <form oninput="x.value=parseInt(distHigh.value)">
            20<input type="range" id="distHigh" value="40" min="20" max="100">100
            <br>
            <output name="x" for="distHigh">40</output>
          </form>
        </div>
        <div class="slidecontainer">
          MIN: <form oninput="x.value=parseInt(distLow.value)">
            0<input type="range" id="distLow" value="0" min="0" max="100">100
            <br>
            <output name="x" for="distLow">0</output>
          </form>
        </div>
        <h3>Inicio:</h3>
        <select id="ciudIni" class="form-control" onclick="setMapOnAll(map)">
          <%for (var i = 0; i < ciudades.length; i++) {%>
            <option value=<%=i%> ><%=ciudades[i]%></option>
          <%}%>
        </select>
        <h3>Fin:</h3>
        <select id="ciudFin" class="form-control" onclick="setMapOnAll(map)">
          <%for (var i = 0; i < ciudades.length; i++) {%>
            <option value=<%=i%> ><%=ciudades[i]%></option>
          <%}%>
        </select>
        <br>
        <button type="button" id="btnRuta" class="btn btn-primary" onclick="getRuta()" disabled>Calcula ruta</button>
        <br>
        <br>
        <div id="progress">
          <div class="progress" id="progressBar" style="height: 20px;">
            <div id="progressBarFront" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
        <h2 class="display-4">Mapa</h2>
        <div id="map"></div>
        <p id="resultadosFront"></p>
      </div>
    </div>

    <script src="./files/manageMap.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUTdVrQwqN5zPTpU8__YRCF8gla-OxTBE&callback=initMap">
    </script>
  </body>
</html>
